Unity/Logs/
Unity/Library/
Unity/Temp/
Unity/UserSettings/

*/backup
*/.cache
*/*.akd
*/*.validationcache
*/*.wsettings
*/*.wem
*/*.prof

WwiseUnityIntegration_*_Src.zip
*/[Aa]ssets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset*

*/[Aa]ssets/Wwise/Documentation.meta
*/[Aa]ssets/Wwise/Documentation/*
*/[Aa]ssets/Wwise/API/Runtime/Plugins.meta
*/[Aa]ssets/Wwise/API/Runtime/Plugins/*